html {
  --f-family:  'IBM Plex Sans', sans-serif;
  --f-family-heading: 'Simpson Font', serif;
  --c-main: #FED90F;
  --c-secondary: #D1B271;
  --c-secondary-dark: #232428;
  --c-secondary-light: #3D3D45;
  --c-alert: #b50b19;
  --c-success: #427607;
  --c-warning: #ffae00;
  --c-text:  #272727;
  --c-text-light: #EDECF1;
  --c-text-lighten: #95969A;
  --c-border: #4E4F54;
  --c-link: #8e27ca;
  --c-link-light: rgba(161, 45, 228, .6); }
