
// sizes & layout
// ---------------------------------------------------
$size-page: 1178px;
$size-narrow-page: 824px;
$columns: 6;
$space: 21px;
$space-small: 10px;
$gutter: 11.78;
$height-header: 83px;


// breakpoints
// ---------------------------------------------------

$breakpoints: (
  s: 480px,
  m: 778px,
  l: 1024px,
  xl: $size-page
);

$utils-breakpoint: (
  mob: 'max-width: #{map-get($breakpoints, 'm' ) - 1}',
  desk: 'min-width: #{map-get($breakpoints, 'm' )}'
);


// typography 
// ---------------------------------------------------

$f-family: 'Chewy', cursive;
$f-line-height: 1.57;
$f-header-line-height: 1.2;


// colors
// ---------------------------------------------------

$c-main: #009082;
$c-main-light: #21B9AB; 
$c-main-lighten: #28DECD;

$c-secondary-dark: #363636;
$c-secondary: #505257;
$c-secondary-light: #9497A1;
$c-secondary-lighten: #EBECEE;


$c-alert: #b50b19;
$c-success: #427607;
$c-warning: #ffae00;

$c-text: $c-secondary;
$c-text-light: $c-secondary-light;
$c-link: $c-main;

$border-radius: 3px;



// Forms & buttons
// ---------------------------------------------------
$fields-height: 44px;
$fields-padding: 16px;

html {
  --f-family:  'IBM Plex Sans', sans-serif; 
  --f-family-heading: 'Simpson Font', serif;

  // colors
  --c-main: #FED90F;

  --c-secondary: #D1B271;
  --c-secondary-dark: #232428;
  --c-secondary-light: #3D3D45;
  
  --c-alert: #b50b19;
  --c-success: #427607;
  --c-warning: #ffae00;

  --c-text:  #272727;
  --c-text-light: #EDECF1;
  --c-text-lighten: #95969A;

  --c-border: #4E4F54;

  --c-link: #8e27ca;
  --c-link-light: rgba(161, 45, 228, .6);
}