

@font-face {
    font-family: 'Simpson Font';
    src:  url('../assets/fonts/simpsonfont.woff2') format('woff2');
}

.editor-post-title__input {
    color: var(--c-text);
    font-family: var(--f-family-heading);
    font-weight: 400;
}


.wp-block {
    max-width: 720px;
}

.wp-block[data-align="wide"] {
    max-width: 1080px;
}

.wp-block[data-align="full"] {
    max-width: none;
}


.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left-color: var(--c-link);
}
.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {
    color: var(--c-link)
}

.wp-block[data-type="core/heading"] + .wp-block[data-type="core/paragraph"] {
	margin-top: -1rem;
} 
//🎉 Party rules!!!
// button {
//     padding: 50px;
// }