
* {
    font-family: 'Comic Sans MS', arial!important;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
    a {
        color:  #FED90F!important;
    }
}

button {
    padding: 2rem!important;
}